.about-right {
    width: 90%;
    color: white;
}

.profile-about-form {
    display: flex;
    align-items: center;
    justify-content: left;
}

.about-right-title {
    font-size: 30px;
    margin: 0 0 20px 0;
    padding: 7px;
    color: black;
    background: lightgrey;
    border-radius: 10px;
}

.about-right-detail{
    display: flex;
    flex-direction:column;
}

.about-right-detail-row{
    display: flex;
    flex-direction:row;
    align-items: center;
    /* justify-content: space-between; */
}

.about-right-detail-lable {
    padding: 20px;
    padding-right: 40px;
    text-align: left;
    font-size: 16px;
    margin: 0;
    font-weight: normal;
    color: lightgrey;
}

.about-right-detail-value {
    font-size: 18px;
    color: white;
}

.about-right-skill-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-right-skill-item {
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 8px;
}