.profile-navbar-container {
    background: url(./Images/cover.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.profile-navbar-container .profile-navbar-inner {
    padding-top: 100px;
}

.profile-navbar-container .profile-navbar {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: absolute;
    bottom: 25px;
    height: 50px;
}

.profile-navbar-container .profile-navbar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35%;
    position: relative;
    top: 30px;
}

.profile-navbar-container .profile-photo-main {
    border-radius: 50%;
    border: 10px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.profile-navbar-container .profile-name {
    padding-top: 20px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.profile-navbar-container .profile-small-discription {
    color: grey;
    padding-top: 10px;
    margin: 0;
    font-size: 18px;
}

.profile-navbar-container .profile-navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.profile-navbar-container .profile-navbar-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0px;
}

.profile-navbar-container .profile-navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}

.profile-navbar-container .profile-navbar-item a {
    color: rgb(255, 255, 255);
    padding: 15px;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
}

.profile-navbar-container .profile-navbar-item p {
    margin: 0px;
}

.profile-navbar-container .profile-navbar-item button {
    border-radius: 10px;
    color: white;
    border: none;
    padding: 3px 10px;
    margin: 0px;
    background: rgba(36, 160, 237, 0.9);
    /* font-size: 20px; */
    cursor: pointer;
}
