.rec__head{
    display: flex;
    width: 100%;
    height: calc(100vh);
    flex: auto;
    padding: 10px;
    align-items: center;
    background: black;
}
.left__rec{
    padding-left: 120px;
}

html {
    scroll-behavior: smooth;
}

.right__rec{
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 10; */
}
#rest_rec{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    flex:auto;
    gap: 10px;
    background: black;
    padding: 10px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.rec_element_new{
    display: flex;
    width: calc(100vw - 80px);
    height: 40vh;
    flex: auto;
    /* justify-content: center; */
    padding: 20px;
    /* padding-left: 100px; */
    /* margin-left: 70px; */
    /* align-items: center; */
}

.ele_right>img{
    height: 30vh;
    width: 30vw;
    object-fit: contain;
}

.ele_right{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.ele_left{
    width: 70%;
}