.app {
    background-color: #151516;
    height: auto;
}

.appmain {
    color: white;
    padding-top: 75px;
    padding-left: 130px;
    width: 95%;
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.appleft {
    width: 65%;
}

.appright {
    width: 40%;
}

.wrapper-main {
    position: fixed;
    /* top: 0; */
    height: 90vh;
    width: 30vw;
    overflow-y: auto;
}

.wrapper-main::-webkit-scrollbar {
    width: 5px;
}

.wrapper-main::-webkit-scrollbar-track {
    background: transparent;
}

.wrapper-main::-webkit-scrollbar-thumb {
    background: rgba(55, 55, 55, 1);
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: rgba(55, 55, 55, 1);
    border-radius: 10px;
}

.appitem {
    background-color: var(--bg-secondary);
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    background: rgba(43, 43, 43, 0.7);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(10px);
}

.suggest_tabs::-webkit-scrollbar {
    width: 0px;
}
.carouselItem {
    margin: 20px;
    border-radius: 25px;
    background: transparent;
}

@keyframes example {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

.reminderevent:hover {
    position: relative;
    animation-name: example;
    animation-duration: 1s;
  }
  

