.signup-inner {
    /* background-color: rgb(0, 225, 255); */
    /* background-color: rgba(0, 0, 0, 0.8); */
    width: 50vw;
    /* position: absolute; */
    /* margin: 0; */
    /* display: none; */
    /* left:50px; */
    border-radius: 20px;
    /* backdrop-filter: saturate(180%) blur(20px); */
    /* -webkit-backdrop-filter: saturate(180%) blur(10px); */
}

.signup-page {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* gap: 10px; */
    flex-direction: column;
    background-color: #1c1e19;
    /* background : url( "https://cdn.mos.cms.futurecdn.net/SbV7qwk7jkrfhey8wWZ4Mb.jpg"); */
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cranac{
    background: linear-gradient(45deg,#073589,blue,purple,red); 
    text-align: center;
    font-weight:bold;
    font-size: 50px;
    color: white;
    padding:6% 0;

}


