#name-label{
    color: white;
}
#date-label{
    color: white;
}
#team-label{
    color: white;
}
.file-drop{
    border: 2px dotted white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#desc-label{
    color: white;
}
#venue-label{
    color: white;
}
#name{
    color: white;
}
#team{
    color: white;
}
#date{
    color: white;
}
#venue{
    color: white;
}
#desc{
    color: white;
}
.wrapper-class{
    border: 1px solid white;
    border-radius: 5px;
    padding: 0 10px;
}
.editor-class{
    min-height: 30vh;
}
.wrapper-class .toolbar-class{
    display: none;
}
