.poll-creator {
    display: flex;
    flex: 1;
}

.poll-creator-item {
    margin: 0 5px;
}

.poll-creator-input {
    width: auto;
    flex-grow: 1;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 18px;
    border: none;
    background: transparent;
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    color: white;
}

.poll-creator-input:focus {
    outline: none;
}

.poll-creator-button {
    border-radius: 25px;
    color: white;
    border: none;
    padding: 0 13px;
    margin: 5px;
    background: rgba(36, 160, 237, 0.9);
    font-size: 15px;
    cursor: pointer;
}

.poll-creator-button:focus {
    outline: none;
}

.pollmaker {
    /* margin-top: 25vh; */
    display: flex;
    height: auto;
    width: 700px;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    /* border-radius: 20px; */
    /* background-color: red; */
}

.pollmaker-top {
    display: flex;
    width: auto;
    align-items: center;
    background-color: black;
    border-radius: 20px 20px 0 0;
    padding: 10px 20px;
    /* background-color: blueviolet; */
}

.pollmaker .model-username {
    font-size: 22px;
    font-weight: 300;
    padding-left: 10px;
}

.pollmaker-mid {
    display: flex;
    width: auto;
    padding: 2%;
    justify-content: space-between;
    background: rgba(41, 41, 41, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(30px);
    backdrop-filter: saturate(180%) blur(30px);
    border-radius: 0 0 20px 20px;
}

#close {
    margin-left: auto;
}

.pollmaker-mid-left {
    display: flex;
    width: 60%;
    flex-direction: column;
    /* background-color: black; */
}

.pollmaker-mid-right {
    display: flex;
    width: 40%;
    flex-direction: column;
    /* background-color: black; */
}

.pollmaker-mid-left input {
    margin: 2%;
    padding: 2% 3%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background: transparent;
    -webkit-backdrop-filter: saturate(18000%) blur(20px);
    backdrop-filter: saturate(18000%) blur(20px);
    color: white;
}

.pollmaker-mid-left textarea {
    margin: 2%;
    padding: 2% 3%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background: transparent;
    -webkit-backdrop-filter: saturate(18000%) blur(20px);
    backdrop-filter: saturate(18000%) blur(20px);
    color: white;
    resize: none;
}

.pollmaker-mid-right input {
    margin: 2%;
    padding: 2% 3%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    background: transparent;
    -webkit-backdrop-filter: saturate(18000%) blur(20px);
    backdrop-filter: saturate(18000%) blur(20px);
    color: white;
}

.pollmaker-mid button {
    background-color: rgba(36, 160, 237, 0.8);
    color: white;
    width: fit-content;
    margin: 2%;
    padding: 2% 3%;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
