.postmaker {
    height: 350px;
    width: 500px;
    color: whitesmoke;
    background-color: black;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 8px;
    overflow: hidden;
}

.postmaker > header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    font-size: 24px;
}

.postmaker > header > .title {
    font-family: Arial, Helvetica, sans-serif;
}


.postmaker > .content {
    padding: 5px 10px;
    overflow: auto;
}

.postmaker > .content > textarea{
    width: 100%;
    min-height: calc(100% - 5px);
    color: rgb(206, 206, 206);
    background-color: transparent;
    resize: none;
    border: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.postmaker > .content > textarea:focus{
    outline: none;
}

.postmaker > .content > .img{
    margin-top: 5px;
    width: 100%;
    min-height: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    border-radius: 5px;
}

.postmaker > .content > .img > .btn {
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.644);
}

.postmaker > footer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
}

.postmaker > footer > .btn {
    color: antiquewhite;
    background-color: rgba(240, 235, 235, 0.192);
    overflow: hidden;
}

.img-input-post {
    position: absolute;
    opacity: 0;
    font-size: 40px;
}
