.typewriter{
    overflow: hidden;
    border-right: .15em solid white; 
    white-space: nowrap; 
    letter-spacing: normal; 
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 70% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }