.chat__top {
    /* border-bottom: 1px solid lightgray; */
    /* padding: 20px; */
    padding-top: 25%;
    padding-bottom: 5px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba(17,17,18); */
    background: rgba(37, 37, 37);
    color: lightgray;
    /* backdrop-filter: saturate(180%) blur(10px); */
    /* background: url('https://i.pinimg.com/originals/12/8e/de/128edeb9ace4ec00d692dd66f4340abe.jpg'); */
    /* background-position: center left; */
    /* color: white; */
    margin: 0;
}
#search > input {
    height: 20px;
    font-size: small;
    border: none;
    width: auto;
    background: #111;
    color: white;
    border-radius: 3px;
    padding: 0 5px;
    /* padding: 3px; */
    /* padding-left: 5px; */
    /* margin: 0; */
}
#search {
    /* padding: 5px; */
    /* width: 50px; */
    display: flex;
    /* width: 90%; */
    background-color: transparent;
    /* border-bottom: 0.5px solid lightgray; */
    margin: 0;
}
.chat__left {
    width: 100%;
    height: calc(100vh - 6em);
    padding: 0;
    flex: 1;
    border-bottom-left-radius: 10px;
    background: rgba(55, 55, 55, 0.4);
    border-top-left-radius: 10px;
    overflow: auto;
}
.chat__left::-webkit-scrollbar {
    width: 0;
}
.chat__right::-webkit-scrollbar {
    width: 0;
}
.chats::-webkit-scrollbar {
    width: 0;
}
.msgdesp {
    width: 100%;
    position: absolute;
    bottom: 10%;
    overflow: auto;
    margin: 0;
}
.userspace {
    /* border-bottom: 0.5px solid ; */
    z-index: 50;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    position: sticky;
    /* background: rgba(0,0,0,0.7); */
    background: rgba(37, 37, 37);
    top: 0;
    height: 5%;
    display: flex;
    padding: 5px;
    color: lightgray;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    margin: 0;
}
.lastem {
    margin-left: auto;
}
.writer > input {
    margin-left: 0.5%;
    padding-left: 10px;
    height: 40px;
    width: 88%;
    /* border: 1px solid lightgray; */
    border: none;
    background: rgba(55, 55, 55, 0.4);
    border-radius: 99px;
    color: white;
    font-size: medium;
    margin: 0;
}
.writer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
    backdrop-filter: blur(5px);
    padding: 5px;
    margin: 0;
}
.chat__right {
    /* border: 0.5px solid lightgray; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 70%;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #111;
    /* background: rgba(55, 55, 55, 0.4); */
    margin: 0;
}
.chats {
    display: flex;
    padding: 1em 15%;
    width: auto;
    /* background: rgba(55, 55, 55, 0.4); */
    height: calc(100vh - 6em);
    margin-left: auto;
    margin-right: auto;
}
.chathome {
    padding-left: 65px;
    padding-top: 65px;
    height: 100%;
    background-color: #151516;
}
