.textstyle > h4{
    box-shadow: 2px 5px 10px -8px rgba(0,0,0,0.75);
    padding: 3%;
    font-weight: 500;
    padding-left: 5%;
    border-radius: 99px;
    /* background-color: white; */
    color: white;
    background: rgba(55, 55, 55, 0.4);
    width: 100%;
    margin: 0;
}
.textstyle{
    display: flex;
    gap: 5px;
    margin-top: 5px;
    width: 50%;
    align-items: center;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
}