
:root {
    font-size: 16px;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --header-bg-primary: #23232e;
    --header-bg-secondary: #141418;
    --transition-speed: 600ms;
}
.notif-element:hover{
    background-color: rgba(0,0,0,0.7);
}

.popover > .MuiPopover-paper {
    background:rgba(0,0,0,0.5);
    backdrop-filter:saturate(180%) blur(10px);
}

.active-class{
    border-bottom: 3px solid white;
}
.active-class:hover {
    border: none;
}
.header {
    background-color: var(--header-bg-primary);
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    height: 65px;
    width: 100%;
    padding: 10px;
    background: rgba(20, 20, 24, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.header-itemlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-itemlist-left {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.header-itemlist-center {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.header-itemlist-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    height: 100%;
}

.header-itemlist-left .header-logoitem {
    margin: auto 10px;
}

.header-itemlist-center .header-item {
    margin: auto 30px;
    padding: 7px 20px;
}

.header-itemlist-right .header-item-right {
    margin: auto 10px;
}

/* header center side */
.header-item {
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.header-item-right {
    color: var(--text-primary);
    text-decoration: none;
}

.serele:hover{
    background: #151516;
}

.header-itemlink {
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.header-item:hover {
    filter: grayscale(0%) opacity(1);
    background: #23232e;
    /* padding: 5px; */
    border-radius: 25px;
}

.header-badge {
    filter: grayscale(0%) opacity(1);
}

.header-itemname {
    font-size: 20px;
    color: #ff7eee;
}

/* .header-itemicon  */

/* header logo side */

.header-logolink {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header-logoimg {
    height: 40px;
}

.header-logoname {
    color: var(--text-primary);
    font-size: 25px;
}


.search-box-item:hover {
    border-radius: 0px;
    background: rgba(20, 20, 24, 0.7);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}