.navbar {
    padding: 5px 15px;
    width: 100%;
    min-width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #DAFFE4;
    background-color: #16213E;
}

.da-logo {
    height: 45px;
    height: 45px;
}

.empty {
    flex: 1 ;
}
