.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #DAFFE4;
    background-color: #01081A;
}

.da-logo {
    height: 40px;
}

.empty {
    flex: 1 ;
}
