.search-result {
    position: absolute;
    margin-top: 10px;
    max-height: 80vh;
    background-color: #111136;
    border-radius: 4px;
    overflow: auto;
}

.search-result > .user-link {
    width: inherit;
    justify-content: left;
    padding: 8px 10px;
}

.search-result > .user-link:hover {
    background-color: dodgerblue;
}

.search-result > .not-found {
    padding: 10px 0;
    color: gray;
    text-align: center;
}
