.temp {
    height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 1fr;
}

.sidebar {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: white;
    background-color: #313745;
    font-size: 14px;
}

.sidebar > .link {
    padding: 5px 10px;
    width: 150px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.sidebar > .link-active {
    background-color: #0059FF;
}
