* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-center {
    display: grid;
    place-items: center;
}

.flex-center {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

li {
    list-style: none;
}
