@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Poppins Medium';
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Head';
    src: url('assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Subtext';
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Prompt Medium';
    src: url('assets/fonts/Prompt/Prompt-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Prompt Head';
    src: url('assets/fonts/Prompt/Prompt-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Prompt Subtext';
    src: url('assets/fonts/Prompt/Prompt-Regular.ttf') format('truetype');
}


.text-prompt {
    font-family: 'Prompt Head';
    font-size: 54px;
    line-height: 65px;
}

.prompt-h2 {
    font-family: 'Prompt Head';
    font-size: 36px;
    line-height: 44px;
}
.prompt-h4 {
    font-family: 'Prompt Head';
    font-size: 29px;
    line-height: 120%;
}

.prompt-text {
    font-family: 'Prompt Head';
    font-size: 24px;
    line-height: 120%;
}

.prompt-subtext {
    font-family: 'Prompt Subtext';
    font-size: 14px;
    line-height: 21px;
}

.text-primary {
    font-family: 'Poppins Head';
    font-size: 24px;
    line-height: 28.8px;
}

.text-primary-02 {
    font-family: 'Poppins Medium';
    font-size: 20px;
    line-height: 30px;
}

.text-primary-03 {
    font-family: 'Poppins Head';
    font-size: 14px;
    line-height: 21px;
}

.text-secondary {
    font-family: 'Poppins Subtext';
    font-size: 14px;
    line-height: 21px;
}

.text-secondary-02 {
    font-family: 'Poppins Subtext';
    font-size: 16px;
    line-height: 21px;
}

.text-secondary-03 {
    font-family: 'Poppins Subtext';
    font-size: 12px;
    line-height: 21px;
}

.text-tertiary {
    font-family: 'Poppins Subtext';
    font-size: 10px;
    line-height: 15px;
}

.text-tertiary-bold {
    font-family: 'Poppins Medium';
    font-size: 10px;
    line-height: 15px;
}

.ql-editor > p {
    font-family: 'Poppins Medium';
}

.background-inherit {
    background-color: transparent;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
select.form {
    background-image: url("./assets/images/drop-arrow.svg");
    background-position:
            calc(100% - 10px) calc(1rem),
            calc(100% - 10px) calc(1rem),
            calc(100% - .5em) .5em;
    background-size:
            15px 15px,
            15px 15px,
            1.5rem 1.5rem;
    background-repeat: no-repeat;
}

.button-border {
    border: 1px solid #1b57f3;
}

.w-525 {
    min-width: 32.813rem;
}

.button-border:hover {
    border: 1px solid #7DACF9;
    background: transparent;
}

@keyframes grow {
    0% {
        width: 6rem;
    }
    100% {
        width: 15.625rem;
    }
}

.new-sidebar {
    animation: grow 150ms linear;
    width: 16.125rem;
}

@keyframes shrink {
    0% {
        width: 15.625rem;
    }
    100% {
        width: 6rem;
    }
}

.new-sidebar-ducked {
    animation: shrink 150ms linear;
    width: 6rem;
}

.feed-width {
    min-width: 360px;
    max-width: 460px;
}

.min-w-800 {
    min-width: 800px;
}

.border-0-5 {
    border: 0.5px solid rgba(255,255,255,0.5);
}
.w-120 {
    width: 35rem;
}
