.chat {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.chat__header {
    display: flex;
    align-items: center;
    padding: 0px;
    padding-left: 20px;
    /* border-bottom: 1px solid lightgray; */
    background-color: rgb(31, 29, 29);
    color: blanchedalmond;
}

.chat__headerInfo {
    padding-left: 30px;
    flex: 1;
}

.chat__headerInfo > h3 {
    margin-bottom: -11px;
    font-weight: 500;
}

.chat__headerInfo > p {
    color: gray;
    font-size: small;
}

.chat__headerRight {
    margin-right: 20px;
}

.chat__body {
    flex: 1;
    /* background-image: url('https://wallpapercave.com/wp/wp3998754.jpg'); */
    /* background-repeat: repeat; */
    /* background-position: center; */
    background-color: #151516;
    /* background-size: contain; */
    padding: 20px;
    overflow-y: scroll;
}

.chat__name {
    position: absolute;
    font-size: xx-small;
    font-weight: 800;
    top: -15px;
    color: white;
}

.chat__timeStamp {
    font-size: xx-small;
    margin-left: 10px;
    color: white;
}

.chat__message {
    position: relative;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    background-color:  rgba(31,29,29);
    color:white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.chat__reciever {
    margin-left: auto;
    background-color:  #007aff;
    width: fit-content;
}

.chat__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    padding-right: 15px;
    background-color: rgb(0, 0, 0, 0.4);
}

.chat__footer > form {
    display: flex;
    flex: 1;
    margin-right: 15px;
}

.chat__footer > form > input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background-color: #151516;
    outline-width: 0;
    color:white;
}

.chat__footer > form > button {
    display: none;
}

.chat__footer > .MuiSvgIcon-root {
    color: gray;
    margin: 10px;
}

#upload_input {
    display: none;
}

.chat__body_uploadedPic {
    max-width: 20em;
    max-height: 20em;
    display: block;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
