.sidebar_Chat {
    width: 30%;
    display: flex;
    flex-direction: column;
    /* background: transparent; */
    background-color: rgb(31, 29, 29);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: rgb(255, 254, 254);
    /* overflow-y:auto; */
}

.sidebar_chat__header {
    padding: 1em;
    display: flex;
    align-items: center;
    height: 20%;
    background: url('https://image.freepik.com/free-vector/nice-background-with-polygonal-shapes_1159-452.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(20px);
    border-top-left-radius: 10px;
}

.headings {
    padding: 20px;
    padding-bottom: 35px;
    font-size: x-large;
    font-weight: 700;
    height: 10%;
}

.sidebar_chat__header > h1 {
    margin-left: 0.75em;
    color: white;
}

.sidebar_Chat__search {
    display: flex;
    align-items: center;
    background: transparent;
    height: 39px;
    padding: 10px;
    padding-bottom: 0px;
    margin-top: 10px;
    box-sizing: content-box;
    /* margin-top: 20px; */
}

.sidebar_Chat__searchContainer {
    display: flex;
    align-items: center;
    background-color: #151516;
    height: 35px;
    width: 100%;
    border-radius: 20px;
}

.sidebar_Chat__searchContainer > .MuiSvgIcon-root {
    color: gray;
    margin: 10px;
}

.sidebar_Chat__searchContainer > input {
    border: none;
    background-color: #151516;
    color: white;
    margin-left: 10px;
    outline-width: 0;
    width: 100%;
}

.sidebar_Chat__addFriend {
    display: grid;
    place-items: center;
    height: 10%;
}

::-webkit-scrollbar {
    display: none;
}

.sidebar_chat__chats {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}