.desclub {
    background-color: black;
    height: 100vh;
    width: 100vw;
    transition: 500ms;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.displ {
    background-color: #151516;
    border-radius: 2em;
    margin: auto;
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    color: white;
    /* padding: 1em; */
}
.displ > img {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));
    height: 45%;
    width: calc(100vw - 4em);
    border-radius: 2em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
    position: absolute;
}

.displ > h1 {
    padding-left: 1.5em;
    padding-top: 8em;
    font-size: xx-large;
    position: relative;
}
.displ > p {
    padding: 2em;
    padding-right: 26em;
    font-size: x-large;
    color: #a1a1a6;
    position: relative;
    z-index: 4;
}
.displ > span {
    display: flex;
    gap: 1em;
    color: grey;
    padding-left: 2.6em;
}
.contactclu {
    float: right;
    margin-right: 2em;
    font-size: xx-large;
    color: white;
    margin-top: 8em;
    font-weight: 600;
}
.contactclu > .infoclu {
    padding-top: 1em;
}
.contactclu > .infoclu > p {
    /* padding-top: 0.5em; */
    padding-left: 1em;
    color: #a1a1a6;
    font-weight: 200;
    margin: 10px 0px;
}

#back {
    z-index: 100;
    text-decoration: none;
    color: white;
    padding-left: 2rem;
}
#back:hover {
    color: #a1a1a6;
}
