.clubitem {
    border-radius: 2em;
    background-position: center;
    color: white;
    position: relative;
}
.clubitem > img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    border-radius: 2em;
}
.textonit {
    backdrop-filter: saturate(180%) blur(5px);
    margin: 0;
    color: white;
    border-radius: 2em;
    height: 100%;
    width: auto;
    text-align: center;
    padding: 0 1em;
}
.textonit > h2 {
    padding-top: 2.5em;
    margin: 0;
    padding-bottom: auto;
    font-size: xx-large;
}
.textonit > p {
    padding-top: 1em;
    font-size: large;
    font-weight: 400;
}
